/*
Colors used:
Primary Color (Yellow): #FFDE74;
Secondary Color (Magenta): #F15C7B;
Tertiary Color (Cyan): #79BDEB;
*/

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

#columnlist1 ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#columnlist2 ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#columnlist3 ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.dark-mode {
  background-color: white;
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}
header {
  padding: 10px 0 4px;
  margin: 10px;

}
  img {
    width: 100%;
  }

  body {
    background-color: black;
    font-family: 'EB Garamond', serif;
    font-size: 25px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    letter-spacing: -.3px;
    color: white;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: -2px;
    margin-bottom: 35px;
    margin-top: 0px;
  }
  
  h2 {
    font-size: 55px;
    font-weight: 400;
    letter-spacing: -3px;
  }
  
  h3 {
    font-family: "Archivo Black";
    font-size: 1.1em;
    font-weight: 100;
    margin-top: 0;
    margin: 0;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  /*a:visited { /* visited link 
    color: 
  } 
  */
  
  a:active { /* selected link */
    color: #000000;
  }

  a {
    color: #F15C7B;
    text-decoration: none; /* No underlining */
  }
  /*a:hover {
    color: #FFDE74;
    text-decoration: underline; /* Underlining when hovering over a link 
  } 
  */

  /*a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
} */

.buttonprojects {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #FFDE74;
  color: #F15C7B; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  font-family: 'Archivo';
  font-size: 20px;
  letter-spacing: -1px;
  transition-duration: .3s;
  transition-property: color;
}

.buttonprojects:hover {
  color: #000000;
  /*opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}


.buttonabout {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F15C7B;
  color: #FFDE74; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  font-family: 'Archivo';
  font-size: 20px;
  letter-spacing: -1px;
  transition-duration: .3s;
  transition-property: color;
}
.buttonabout:hover {
  color: #000000;
  /*opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.buttoncontact {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #79BDEB;
  color: #F15C7B; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  font-family: 'Archivo';
  font-size: 20px;
  letter-spacing: -1px;
  transition-duration: .3s;
  transition-property: color;
}
.buttoncontact:hover {
  color: #000000;
  /*opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F15C7B;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  font-family: 'Archivo';
  font-size: 20px;
  letter-spacing: -1px;
  color: #ffffff;
  border: 2px solid #F15C7B;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-duration: .3s;
  transition-property: color;
  

}
.button:hover {
  color: #000000;
  /*opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #F15C7B;
  text-transform: uppercase;
  border: 2px solid #F15C7B;
  transition-duration: .3s;
  transition-property: color;
}
.button.contact:hover {
  background-color: #F15C7B;
  color: #ffffff;
}

.button.detailed {
  background-color: transparent;
  color: #F15C7B;
  border: 2px solid #F15C7B;
  transition-duration: .3s;
  transition-property: color;
}
.button.detailed:hover {
  background-color: #F15C7B;
  color: #ffffff;
}

.button {font-family: 'Archivo'; font-size: 20px; letter-spacing: -1px; font-weight: 1000; color: #ffffff; 
}

.bold {font-family: 'Archivo'; font-size: 20px; letter-spacing: -.5px; font-weight: 1000; color: black; 
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  content: "";
  clear: both;
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

/*#projects .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }*/
.flex-container {
  flex-direction: column;
  display: flex;
}

#about .flex-container {
  flex-direction: column;
  display: flex;
  
}

.flex-item {
  width: 100%;

}

.flex-project {
  margin: 10px;
  width: 100%;
  align-content:space-between;

}

.about-flex {
  width: 100%;
  align-content:space-between;

}

.aboutflex-img {
  width: 100%;
  align-content: space-between;

}

.cyanbacking {
  background-color: #79BDEB;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: auto;
  background-size: auto;
  margin: 10px;
  color:#010000;
}

#hero h1 {
  text-align: center; /* centers text */
}

/*.img-same {
  float: left;
    width:  358px;
    height: 202px;
    object-fit: cover;
}
*/
.linkedin {
  width: 50px;
  height: 50px;
}

.DarkModeButton {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20%;
  top: 22px;
}

.logo {
  max-width: 75px;
}

.my_picture {
  margin: 10px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 20px;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 0px 0 0;
}
.navtoggle.responsive li  {
  display:block;
  padding: 5px 0;
  /*border-top: 1px solid rgba(0, 0, 0, 0.5);*/
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.magentabacking {
  background-color: #F15C7B;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: auto;
  background-size: auto;
  margin: 10px;
  margin-top: 0px;
  color:#010000;
}

.yellowbacking {
  background-color: #FFDE74;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: auto;
  background-size: auto;
  margin: 10px;
  color:#010000;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  h3 {
    font-family: "Archivo Black";
    font-size: 1.4em;
    font-weight: 100;
    margin-top: 0;
    margin: 0;
  }

  .logo {
    max-width: 100px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    /*padding-top: 99px;*/
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 { margin-top: 0;}

  h1 {
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: -4.5px;
    margin-bottom: 90px;
  }
  
  nav > ul > li {
    display: inline-block;
    width: 100;
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .flex-item {
    width: 50%;
  
  }

  .flex-project {
    margin: 10px;
    width: 50%;
  
  }

  .about-flex {
    width: 50%;
  
  }
  .aboutflex-img {
    width: 50%;
  
  }  

  .my_picture {
    max-width: 98%;
}

.DarkModeButton {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0%;
  top: -7px;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-md-6 {
    width: 33.33%;
    padding: 0px;
  }
  h1 {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: -4.5px;
    margin-bottom: 150px;
    margin-top: 40px;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .flex-item {
    width: 33.33%;
  
  }

  .flex-project {
    margin: 10px;
    width: 50%;
  
  }

  .about-flex {
    width: 33.33%;
  
  }

  .aboutflex-img {
    width: 33.33%;
  
  }

  .my_picture{
    max-width: 94%;
}

#audyssey .about-flex {
  width: 50%;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/*@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}*/
